p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
img {
    width: 512px;
    height: 312px;
    text-align: center;
}
.body {
    display: block;
    margin: 8px;
    position: fixed;
    top: 25%;
    margin-top: -100px;
    left: 40%;
    margin-left: -150px;
}